[data-theme=black-theme] {
    --primary: rgb(49, 54, 67);
    --grey: rgb(25, 25, 25);
    --gallery: rgb(238, 238, 238);
    --main-background: rgb(255, 255, 255);
    --primary-front: rgb(0, 0, 0);
    --summer-bg: rgb(5, 93, 116);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --priority-low: rgb(71, 114, 250);
    --priority-medium: rgb(250, 168, 12);
    --priority-high: rgb(225, 62, 57);
    --min-cal-color: rgb(255, 255, 255);
    --sidebar-icon-number-color: rgb(229, 229, 229);
    --sidebar-bg-color: rgb(229, 229, 229);
    --sidebar-color: rgb(25, 25, 25);
    --left-sidebar-color: rgb(255, 255, 255);
    --left-sidebar-bg-color: rgb(25, 25, 25);
    --orange: rgb(255, 89, 0);
    --green: rgb(12, 206, 156);
    --turquoise: rgb(16, 195, 238);
    --dark-red: rgb(224, 49, 49);
    --brand-primary: rgb(71, 114, 250);
    --brand-secondary: rgb(255, 176, 0);
    --warn-red: rgb(224, 49, 49);
    --highlight: rgb(251, 193, 64);
    --highlight-sub: rgb(242, 217, 162);
    --team-orange: rgb(251, 129, 66);
    --team-orange-active: rgb(206, 108, 58);
    --team-orange-hover: rgb(252, 154, 104);
    --team-orange-disable: rgb(253, 205, 179);
    --cancel-btn-hover: rgb(244, 244, 244);
    --cancel-btn-active: rgb(232, 232, 232);
    --screen-background: rgb(255, 255, 255);
    --light-black: rgb(51, 51, 51);
    --btn-active-color: rgb(44, 48, 59);
    --btn-hover-color: rgb(90, 94, 105);
    --btn-disable-color: rgb(173, 175, 180);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Styles applied within the .gray-scrollbar class context */
.gray-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.gray-scrollbar::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 5px;
}

/* Firefox and other standard property supporting browsers */
.gray-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #919191 transparent;
}